{% extends 'base.html' %}

{% block content %}
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <div>
      <!-- <h2>Welcome {{ session['username'] }} </h2> -->

      <p>Followers: <a href="/view_follower">{{ session['profile']['follower'] }}</a> 
        Following: <a href="/view_following">{{ session['profile']['following'] }}</a> 
        Posts: {{ session['profile']['post'] }}</p>

      <form action="/post" method="POST">
        <div class="form-group">
          <label for="messageInput">Post an update</label>
          <!-- <input type="text" class="form-control" id="messageInput" aria-describedby="postHelp"> -->
          <textarea class="form-control" id="messageInput"  name="message"  rows="3"></textarea>
          <small id="postHelp" class="form-text text-muted">140/140.</small>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>
    </div>

    <p></p>
    <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>

    {% if not posts %}
        No Messages
    {% else %}
    {% for post in posts %}

    <div class="media text-muted pt-3">
      <!-- <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg> -->
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <a href="/user/{{ post['user_id'] }}"></a><strong class="d-block text-gray-dark">@{{ post['username'] }}</strong></a>
        {{ post['message'] }}
      </p>
    </div>
    {% endfor %}
    {% endif %}


    <small class="d-block text-right mt-3">
      <a href="#">All updates</a>
    </small>
  </div>
{% endblock %}


